<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-mat="space-around start"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0"
     *ngIf="dish">

  <div fxFlex="40" *ngIf="dish">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>

      <img mat-card-image src={{dish.image}} alt={{dish.name}}>

      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <h2>Comments</h2>

    <div *ngFor="let comment of dish.comments" class="margin-bottom30">
      <div fxLayout="column" fxLayoutGap="10">
        <span>{{comment.comment}}</span>

        <span>{{comment.rating}}</span>

        <span>-- {{comment.author}} {{comment.date | date}}</span>
      </div>
    </div>

    <div fxLayout="column" *ngIf="commentForm.dirty && commentForm.valid">
      <span>{{commentForm.value.comment}}</span>

      <span>{{commentForm.value.rating}}</span>

      <span>-- {{commentForm.value.author}}</span>
    </div>

    <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()" fxLayout="row wrap" fxFlex="100">
      <mat-input-container class="half-width" fxFlex="100"
                           dividerColor="{{(commentFormErrors.author) ? 'warn' : 'primary'}}">
        <input matInput formControlName="author" placeholder="Name" type="text" required>
        <mat-hint>
                <span [hidden]="!(commentFormErrors.name)">
                  {{commentFormErrors.author}}</span>
        </mat-hint>
      </mat-input-container>

      <mat-slider
        class="example-margin"
        [max]="5"
        [min]="0"
        [step]="1"
        [thumb-label]="true"
        [tick-interval]="true"
        [vertical]="false"
        formControlName="rating">
      </mat-slider>

      <mat-form-field fxFlex="100">
        <textarea matInput placeholder="Comment" matTextareaAutosize matAutosizeMinRows="10"
            matAutosizeMaxRows="20" formControlName="comment"></textarea>

        <mat-hint>
                <span [hidden]="!(commentFormErrors.comment)">
                  {{commentFormErrors.comment}}</span>
        </mat-hint>
        </mat-form-field>

      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">
        Submit
      </button>
    </form>

  </div>
</div>


<div [hidden]="dish">
  <mat-spinner></mat-spinner>
  <h4>Loading . . . Please Wait</h4>
</div>

